body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffd0a8;
  font-weight: 400;
  text-transform: capitalize;
}
.container {
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  background: #fff;
  flex: 0 0 80%;
}
#quoteBtn {
  color: white;
  border: none;
  background: #d89156;
  font-size: 1.4rem;
  padding: 0.25rem 0.5 rem;
  border-radius: 7px;
  cursor: pointer;
}
#quoteBtn:hover {
  color: black;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #f0d4be;
  margin: 1.5 rem;
  padding: 0.5rem;
}
#quoteAuthor {
  color: #ffd000;
}
